* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: lightgrey;
  display: flex;
  justify-content: center;
}

section{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

header h4{
  margin: 2rem 1rem;
  margin-bottom: 0;
}

.search{
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  width: 50vw;
}